/build/
/benchpress-build/
/node_modules/
/bower_components/
/tmp/
/coverage/
/scripts/bower/bower-*
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
.DS_Store
gen_docs.disable
test.disable
*~
*.swp
angular.js.tmproj
angular.xcodeproj
.idea
*.iml
.agignore
.lvimrc
libpeerconnection.log
npm-debug.log
.vscode
*.log
*.stackdump
