<div ng-controller="MainController">
    <h4>Seed Capabilities</h4>
    <div class="row">
        <ol>
            <li>AngularJS seed project</li>
            <li>NodeJS seed project</li>
            <li>MongoDB usage</li>
            <li>Database connection and usage</li>
            <li>User authentication and session management</li>
            <li>Testing - Unit and end to end testing</li>
        </ol>
    </div>

    <div class="row">
        <button class="btn btn-primary" ng-click="readData()">Read async data</button>
        <div>Data read status: {{data.success}}</div>
    </div>
</div>